/[Ll]ibrary*/
/[Tt]emp/
/[Tt]emp.meta
/[Oo]bj/
/[Gg][Ii][Cc]ache/
/Assets/autoback/
/UserSettings/
/Logs/
/.vs/

EditorBuildSettings.asset

*.log*

*.mayaSwatches/
*.csproj
*.unityproj
*.sln
*.DS_Store
*.app
*.pidb
*.userprefs